.view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;
}

body{
    margin: 0;
    height: 100vh;
}

.buttons{
    display: flex;
    gap: 20px;
}

button{
    width: 200px;
    height: auto;
    padding: 45px 20px 45px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}